@min_width: 670px;
@page_min: 980px;
@page_max: 1200px;

@view_label_min: 'Просм.';
@messages_label_min: 'Сообщ.';

@subcolor0: #DE662B;
@subcolor1: #21CFDC;
@subcolor2: #1F901B;
@subcolor3: #EDDE45;
@subcolor4: #5882B8;
@sub_hover_brightness: #777;

//@header_image: '/public/assets/img/blur7.jpg';
@header_image: '';


.container {
    //width: 100%;
}

.navbar-inner {
    border-radius: 0px;
    //background-color: #000;
    //background-image: linear-gradient(to bottom, #888, #111111);
}


div.sub_nav {
    min-height: 30px;
    border-radius: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

#header > div {
	background-image: url(@header_image);
	background-position-y: -100px;
}

#header li.active {
	background: #000;
	opacity: .7;
}

#footer {
	margin-bottom: 0px;
}


#footer > div {
	background-image: url(@header_image);
	background-position-y: -200px;
	border-radius: 0px 0px 4px 4px;
	text-align: center;
	color: rgb(100,100,100,.1);
	padding-top: 15px;
}


.navbar .divider-vertical {
	opacity: 50%;
	border-left: 1px solid rgba(0, 0, 100, .2);
}


//var bgpos = 0;
//var timer = setInterval(function(){ $('#header>div').css('background-position-y', bgpos  +'px'); bgpos-=1; console.log(bgpos) }, 300)

body {
    min-width: @min_width;
}

::-webkit-scrollbar {
    display: none;
}


td.views_text, td.rating_text, td.message_header {

    width: 130px;
}

td.answer_text {
    width: 90px;
}


li.search-query {
    display: none;
}


.date_small {
    display: none;
}

div.pagination a {
	height: 20px;
}



.sub_nav li {
    border-left: 1px solid #9D8E85;
	height: 100%;
}

.rating_text {
	height: 22px;
	width: 10px;
}


div.subitem {
    padding-bottom: 4px;
    margin-top: -2px;
    text-shadow: 0 1px 0 #000;
}


div.subcolor_0 {
    background-color: @subcolor0;
}

div.subcolor_1 {
    background-color: @subcolor1;
}

div.subcolor_2 {
    background-color: @subcolor2;
}

div.subcolor_3 {
    background-color: @subcolor3;
}

div.subcolor_4 {
    background-color: @subcolor4;
}

#hover_0:hover {
    background-color: @subcolor0 + @sub_hover_brightness;
}

#hover_1:hover {
    background-color: @subcolor1 + @sub_hover_brightness;
}

#hover_2:hover {
    background-color: @subcolor2 + @sub_hover_brightness;
}

#hover_3:hover {
    background-color: @subcolor3 + @sub_hover_brightness;
}

#hover_4:hover {
    background-color: @subcolor4 + @sub_hover_brightness;
}



@media (min-width: @page_max) {
    input.search-query {
        width: 300px;
        margin-right: 240px;
    }
}

@media (min-width: @page_min) and (max-width: @page_max) {
    input.search-query {
        width: 310px;
    }
}

@media (max-width: @page_min) {
    input.search-query, li.search-divider {
        display: none;
    }

    li.search-query {
        display: block;
    }

    img.star {
        width: 12px;
        height: 12px;
    }

    //button > .icon {
    //    display: none;
    //}
    //<hide button text>
    button > .icon {
        padding-right: 2px;
    }
    button {
      width: 27px;
      height: 22px;
    }
    //</hide button text>

    span.views_text {
        content: @view_label_min;
    }

    td.views_text {
        width: 250px;
    }


    td.rating_text {
        width: 120px;
    }

    td.answer_text {
        width: 50px;
    }
}

@media (max-width: 900px) {
    img.star {
        width: 17px;
        height: 17px;
    }
	
	td.stars {
		text-align: center;
	}

    td.rating_text {
        width: 50px;
    }
    span.message_label {
        content: @messages_label_min;
    }
    td.message_header {
        //width: 60px;
    }
}


#bread {
    border: 1px solid #dedede;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border-left-width: 0;
}

.avatar {
    border-radius: 4px;
    margin-top: -2px;
}

div.alert > div {
    border-top: 1px solid #fEe6aB;
}

header, nav, section, article, aside, footer {
    display: block;
}

div#theme_switcher {
    display: none;
    position: fixed;
    top: 100px;
    left: -20px;
    z-index: 1000;
    width: 80px;
}

span.rating_num {
    position: relative;
}

td .alert {
    border-color: #F0FB52;
    background: #FCFAEE;
    border: 0px;
    border-radius: 0px;
    border-left-width: .5em;
    border-left-style: solid;
}

div.border {
    border: 1px solid #dedede;
    padding: 10px;
}


.notice_type_remark {
  background-color: rgba(255, 106, 106, 0.4);
}
.notice_type_notice {
  background-color: #C6E2FF;
}
.notice_type_price {
  background-color: #C1FFC1;
}